.main {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.textSection {
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textSection h1 {
  margin-bottom: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.imageSection {
  display: flex;
  line-height: 0;
  width: 100%;
  max-width: 350px;
  height: auto;
}

.profileImage {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .main {
    gap: 32px;
  }

  .content {
    flex-direction: column;
    gap: 24px;
  }

  .textSection h1 {
    margin-bottom: 20px;
  }

  .description {
    gap: 10px;
  }

  .imageSection {
    padding: 12px;
  }
}
