.main {
  width: 100%;
  max-width: 1328px;
  display: flex;
  justify-self: center;
  flex-direction: column;
  padding-block: 80px;
  padding-inline: 24px;
  gap: 48px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.textSection {
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: center;
}

.socialButton {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

.bigButton {
  display: inline-block;
  height: 48px;
  padding-inline: 12px;
  color: #ededed;
  background-color: #ededed;
  border-radius: 5px;
}

.imageSection {
  display: flex;
  line-height: 0;
  width: 100%;
  max-width: 350px;
  height: auto;
}

.profileImage {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .main {
    padding-block: 48px;
    padding-inline: 16px;
    gap: 24px;
  }
  .content {
    flex-direction: column;
    gap: 24px;
  }

  .imageSection {
    padding: 12px;
  }
}
