.main {
  max-width: 1280px;
  min-height: 100vh;
  padding-block: 100px;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

.textSection {
  max-width: 70%;
  align-self: flex-start;
}

.textSection h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.textSection p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.socialButton {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

.bigButton {
  display: inline-block;
  height: 48px;
  padding-inline: 10px;
  color: #ededed;
  background-color: #ededed;
  border-radius: 5px;
}

.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
