@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.container {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.container h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.logos {
  height: 100px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #0a0a0a);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0a0a0a);
}

.logos-slide {
  height: 100px;
  display: inline-block;
  animation: 20s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}

@media (max-width: 900px) {
  .logos:before,
  .logos:after {
    width: 100px;
  }

  .logos-slide {
    height: 75px;
  }

  .logos {
    height: 75px;
  }

  .logos-slide img {
    height: 75px;
    width: 75px;
    margin: 0 20px;
  }
}
