.container {
  padding-top: 40px;
  margin-top: auto;
  bottom: 0;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 40px;
}

.info a {
  color: #ededed;
  text-decoration: none;
}

@media (max-width: 900px) {
  .container {
    padding-top: 24px;
  }

  .info {
    padding-bottom: 24px;
  }
}
