.container {
  margin-top: auto;
  bottom: 0;
}

.container h2 {
  margin-bottom: 24px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info a {
  color: #ededed;
  text-decoration: none;
}

.socialLinks {
  display: flex;
  gap: 24px;
  align-items: center;
  padding-top: 12px;
}

.socialButton {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.socialButton:hover {
  transform: scale(1.1);
}

.copyright {
  margin-top: 40px;
}
