:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --bp-xs: 480px;
  --bp-sm: 768px;
  --bp-md: 1024px;
  --bp-lg: 1280px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.main {
  width: 100%;
  max-width: 1328px;
  min-height: 100vh;
  display: flex;
  justify-self: center;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 24px;
  padding-inline: 24px;
  gap: 48px;
}

* h1 {
  font-size: 4rem;
  font-weight: 600;
}

* h2 {
  font-size: 2rem;
  font-weight: 600;
}

* h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

* p {
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  * h1 {
    font-size: 2.5rem;
  }

  * h2 {
    font-size: 1.5rem;
  }

  * h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  * p {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .main {
    padding-top: 24px;
    padding-bottom: 16px;
    padding-inline: 16px;
    gap: 32px;
  }
}
